[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/

Assets/UnityVS*
blablabla*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Assets/Scenes/Prefabs/Obstable Tile.prefab
*.bin
Assets/Resources/player_inventory.bin.meta
Assets/Resources/purple_dungeon_rupee_data.dat
Assets/Resources/purple_dungeon_rupee_data.dat.meta